
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app_network

  cassandra:
    image: cassandra:latest
    container_name: cassandra
    environment:
      - CASSANDRA_CLUSTER_NAME=Test Cluster
      - CASSANDRA_DC=DC1
      - CASSANDRA_RACK=RACK1
      - CASSANDRA_LISTENER_TCP_PORT=9042
      - CASSANDRA_LISTENER_RPC_PORT=9160
      - CASSANDRA_USERNAME=cutme
      - CASSANDRA_PASSWORD=cutme
    ports:
      - "9042:9042"
    volumes:
      - cassandra-data:/var/lib/cassandra
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  redis-data:
    driver: local
  cassandra-data:
    driver: local